<div class="sm-container">

<h1>Login To Artist Generation</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>


  <form action="/sessions" method="post">
    <label for="username">Username:</label>
    <input type="text" name="users[username]" id="username">
    <label for="password">Password:</label>
    <input type="password" name="users[password_text]" id="password">
    <input type="submit" value="Login" id="login-form-button">
  </form>

</div>
