<div class="sm-container ">
  <h1><a href="/generations/begin"  class="start-build">Time to Build </a></h1>
</div>

<div class="sm-container welcome tight hide">
  <h1 class="welcome-name"></h1>
  <h3 class="welcome-location"></h3>
  <h3 class="welcome-education"></h3>
  <h4 class="welcome-about"></h4>
</div>

<div class="sm-container hide tight user-photos-button">
  <h1><a href="/generations/photos"  class="start-build">Grab Some Photos </a></h1>
</div>

<div class="sm-container hide tight go-to-profile">
  <h3><a href="/users/<%= current_user.id  %>">Go to Profile</a></h3>
</div>
